<mat-toolbar>
    <span>New Product</span>
    <span class="fill-remaining-space"></span>
    <button (click)="onClear()"><i class="fa fa-times"></i></button>
</mat-toolbar>
<form [formGroup]="service.productCard" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="1" rowHeight="600px">
        <mat-grid-tile>
            <div class="controles-container">
                <input type="hidden" formControlName="id" />
                <mat-form-field>
                    <input formControlName="name" matInput placeholder="Name" />
                    <mat-error>This field is mandatory.</mat-error>
                </mat-form-field>
                <div class="button-row col-md-7 offset-6">
                    <button mat-raised-button color="primary" type="submit" [disabled]="service.productCard.invalid" (click)="onSubmit()">Submit</button>
                    <button mat-raised-button color="warn" (click)="onClear()">Cancel</button>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</form>